.header-container {
  position: fixed;
  left: 0;
  top: 0;
}

.header {
  width: 100%;
  height: 70px;

  .logo {
    height: 50px;
    width: 50px;
  }

  .menu {
    display: none;
    transition: transform 0.5s;
  }

  @extend %flex-between-center;

  .navigation-burger {
    display: none;
  }

  .navigation {
    width: 50%;

    .navigation-list {
      display: flex;
      justify-content: space-between;
      font-family: "Roboto Condensed", sans-serif;

      &__item {
        text-align: center;
        > a,
        a:visited {
          color: #4cb1d9;
        }

        > a:hover,
        a:active {
          color: #574bff;
        }
      }
    }
  }
}

@media (max-width: 669px) {
  .header {
    .navigation {
      display: none;
    }

    .navigation-burger {
      display: block;
      height: 30px;
      width: 30px;
      position: relative;

      &__item {
        // border-top: 1px solid #888;
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-color: black;
        transition: all 0.2s;
      }

      &__item:nth-child(2) {
        top: calc(50% + 5px);
      }

      &__item:nth-child(3) {
        top: calc(50% - 5px);
      }
    }

    .navigation-burger.active {
      height: 30px;
      width: 30px;
      position: relative;

      .navigation-burger__item:first-child {
        display: none;
      }

      .navigation-burger__item:nth-child(2) {
        top: calc(50%);
        transform: rotate(45deg);
      }

      .navigation-burger__item:nth-child(3) {
        top: calc(50%);
        transform: rotate(-45deg);
      }
    }

    .menu.active {
      z-index: 1000;
      position: fixed;
      top: 11.5%;
      left: 5%;
      display: block;
      transition: transform 0.5s;

      .menu-navigation {
        .menu-navigation-list {
          background: rgba(255, 255, 255, 0.1);
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          > * {
            text-transform: uppercase;
            padding: 10px;
          }

          &__item {
            width: 100%;
            height: 100%;

            > a,
            a:visited {
              color: #4cb1d9;
            }

            > a:hover,
            a:active {
              color: #574bff;
            }
          }

          &__item:not(:first-child) {
            border-top: 1px solid rgba(85, 85, 85, 0.5);
          }
        }
      }
    }
  }
}
