.header {
  width: 100%;
  height: 70px;

  .logo {
    height: 50px;
    width: 50px;
  }

  .menu {
    display: none;
    transition: transform 0.5s;
  }

  @extend %flex-between-center;

  .navigation-burger {
    display: none;
  }

  .navigation {
    width: 50%;

    .navigation-list {
      display: flex;
      justify-content: space-between;
      font-family: "Roboto Condensed", sans-serif;

      &__item {
        text-align: center;
      }
    }
  }
}

@media (max-width: 669px) {
  .header {
    .navigation {
      display: none;
    }

    .navigation-burger {
      display: block;
      height: 30px;
      width: 30px;
      position: relative;

      &__item {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0%;
        background-color: black;
        transition: all 0.2s;
      }

      &__item:nth-child(2) {
        top: calc(50% + 5px);
      }

      &__item:nth-child(3) {
        top: calc(50% - 5px);
      }
    }

    .navigation-burger.active {
      height: 30px;
      width: 30px;
      position: relative;

      .navigation-burger__item:first-child {
        display: none;
      }

      .navigation-burger__item:nth-child(2) {
        top: calc(50%);
        transform: rotate(45deg);
      }

      .navigation-burger__item:nth-child(3) {
        top: calc(50%);
        transform: rotate(-45deg);
      }
    }

    .menu.active {
      z-index: 1000;
      position: fixed;
      top: 9.5%;
      right: 5%;
      display: block;
      transition: transform 0.5s;

      .menu-navigation {
        .menu-navigation-list {
          background: blue;
          padding: 10px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          > * {
            padding-top: 5px;
          }
        }
      }
    }
  }
}
