.header {
  width: 100%;
  height: 70px;

  @extend %flex-between-center;

  .burger{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after{
    width: 100%;
    position: absolute;
    height: 10px;
    background: #333;
    display: block;
    transition: .3s;
    border-radius: 5px;
  }
  .burger span:before{
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span{
    top: 20px;
  }
  .burger span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  

  .navigation {
    width: 50%;

    .navigation-list {
      display: flex;
      justify-content: space-between;
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}
