@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100vw;
  font-size: 100%;
  line-height: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

nav,
header,
footer,
aside {
  display: block;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited,
a:focus {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

.footer .requisites .links-list__link:hover, .footer .requisites .links-list__link:link, .footer .requisites .links-list__link:visited {
  display: flex;
  align-items: center;
}

.footer .requisites .links-list, .footer .requisites, .footer, .modal-content__body .guest-data, .modal-content__header, .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content__footer, .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  flex-direction: column;
}

.wrapper {
  width: 90%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ededed transparent;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 50px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

input[type=time]::-webkit-calendar-picker-indicator {
  background: none;
}

.header {
  width: 100%;
  height: 70px;
}
.header .navigation {
  width: 50%;
}
.header .navigation .navigation-list {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
}

.main {
  position: relative;
  height: 100vw;
  display: flex;
  justify-content: space-between;
}
.main #openForm {
  position: fixed;
  bottom: 100px;
  right: 5%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #228BE6;
  border-radius: 0.6em;
  color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  font-size: 0.8rem;
  line-height: 1;
  padding: 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.main #openForm:hover {
  outline: 0;
  color: #228BE6;
}
.main .consultingButton {
  box-shadow: 0 0 40px 40px #228BE6 inset, 0 0 0 0 #228BE6;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.main .consultingButton:hover {
  box-shadow: 0 0 10px 0 #228BE6 inset, 0 0 10px 4px #228BE6;
}

/* Модальный (фон) */
.modal {
  display: none;
  /* Скрыто по умолчанию */
  position: fixed;
  /* Оставаться на месте */
  z-index: 1;
  /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%;
  /* Полная ширина */
  height: 100%;
  /* Полная высота */
  overflow: auto;
  /* Включите прокрутку, если это необходимо */
  background-color: black;
  /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.4);
  /* Черный с непрозрачностью */
}

/* Модальное содержание/коробка */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% сверху и по центру */
  border: 1px solid #888;
  width: 80%;
  /* Может быть больше или меньше, в зависимости от размера экрана */
}
.modal-content__header {
  border-bottom: 1px solid #000;
  /* Кнопка закрытия */
}
.modal-content__header > * {
  margin: 20px;
}
.modal-content__header .close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
.modal-content__header .close:hover,
.modal-content__header .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-content__body {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.modal-content__body .input-item {
  padding: 10px;
}
.modal-content__body .invalid {
  border-color: red;
}
.modal-content__body #formEmailError,
.modal-content__body #formNameError,
.modal-content__body #formSurnameError,
.modal-content__body #formPhoneError {
  color: red;
}
.modal-content__footer {
  gap: 15px;
  border-top: 1px solid #000;
}
.modal-content__footer > * {
  min-width: 110px;
  margin: 15px 0;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: black;
  /* Цвет запасной вариант */
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
  text-align: center;
  color: white;
  font-weight: bold;
  filter: alpha(Opacity=90);
}
.footer .requisites .links-list__item {
  padding-left: 20px;
}
.footer .requisites .links-list__link:link, .footer .requisites .links-list__link:visited {
  background-image: url(../../assets/img/social_media_links.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.footer .requisites .links-list__link:hover {
  background-image: url(../../assets/img/social_media_links__hover.svg);
  background-repeat: no-repeat;
  position: relative;
  height: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.footer .requisites .links-list__link--facebook {
  background-position: -43px 0;
}
.footer .requisites .links-list__link--viber {
  background-position: -90px 0;
}
.footer .requisites .links-list__link--skype {
  background-position: 0 0;
}
.footer .requisites .links-list__link--telegram {
  background-position: -24px 0;
}
.footer .requisites .links-list__link--instagram {
  background-position: -69px 0;
}

/*# sourceMappingURL=style.css.map */
