// Neutrals
$N0: #fbfbfb;
$N1: #f1f1f1;
$N2: #ededed;
$N3: #e0e0e0;
$N4: #c0c0c0;
$N5: #989898;
$N7: #66646a;
$N8: #45444f;

// States
$notification: #e35566;
$success: #4ab43a;
$error: #d1142a;
$warning: #e97e00;

// Brand
$green: #68b24c;
$dark-green: #4f9933;
$blue: #228BE6;
$dark-blue: #0063ce;
$light-blue: #a4c5e9;

// Base
$white: #ffffff;
$background: #f8f8f8;
$black: #302f3b;
